- provide(:title, "#{@towatop.towa}とは何か？ | とはペディア")
- provide(:description, "『#{@towatop.towa}とは』の意味")
- breadcrumb :towa, @towatop
.row
  .col-md-3.left-content
    = breadcrumbs separator: '&rsaquo;'
    - if user_signed_in?
      = render 'shared/user_info'
    - else
      .user-info
        .account_image-box
          = image_tag "noaccount.png", class: "account_image center-block"
        %p.noaccount_name No Acount
        = link_to 'アカウントを作成する', new_user_registration_path, class: "new-registration_btn"
        %p.please_login 電球評価するには、ログインが必要です。
  .col-md-9.towa__detail
    .towa__detail--header
      %h1 #{@towatop.towa}とは
      - if user_signed_in? && current_user.role == 1
        = link_to 'とは削除', "/towas/#{@towatop.id}", method: :delete
      %p 『#{@towatop.towa}とは』の意味一覧を表示しています。<br>ログイン中に電球マークをクリックすることで、その意味がどれほど納得できたか評価できます。<br>また、『#{@towatop.towa}とは』についての意味を、下部より新規投稿ができます。

    .towa__detail--meanings
      - @meanings.includes(:user, :towa).each do |meaning|
        .towa__detail--meanings-box
          %h2= "#{meaning.user.name}さんの考える『#{meaning.towa.towa}』の意味"
          - if user_signed_in? && current_user.role == 1
            = link_to '意味削除', "/towas/#{@towatop.id}/meanings/#{meaning.id}", method: :delete
          %p= simple_format(meaning.meaning, class: "towa__detail--meaning")
          - if meaning.referer.present?
            %span.towa__detail--referer-box
              %span.towa__detail--referer-label 参照元
              %span.towa__detail--referer= auto_link(meaning.referer, html: {target: '_blank'})

          #lights
            - if user_signed_in?
              - if meaning.light_user(current_user.id)
                - if current_user.lights.find_by(meaning_id: meaning.id, score: 1)
                  = image_tag "lights1.jpg"
                - elsif current_user.lights.find_by(meaning_id: meaning.id, score: 2)
                  = image_tag "lights2.jpg"
                - elsif current_user.lights.find_by(meaning_id: meaning.id, score: 3)
                  = image_tag "lights3.jpg"
              - else
                = button_to meaning_lights_path(user_id: current_user.id, meaning_id: meaning.id, score: 1), method: :post do
                  = image_tag "light-off1.jpg", size: "35x35", class: "light-group1"
                = button_to meaning_lights_path(user_id: current_user.id, meaning_id: meaning.id, score: 2), method: :post do
                  = image_tag "light-off2.jpg", size: "35x35", class: "light-group2"
                = button_to meaning_lights_path(user_id: current_user.id, meaning_id: meaning.id, score: 3), method: :post do
                  = image_tag "light-off3.jpg", size: "35x35", class: "light-group3"
            - else
              = image_tag "lights0.jpg"

          .meaning__box-footer
            .meaning__box-user
              .meaning__box-user-shumbnail
                = image_tag "userthumbnail.png", class: "meaning__box-user-image"
              %p.meaning__box-user-name
                = link_to meaning.user.name, user_path(meaning.user.id)
              %p.meaning__box-user-title
                = meaning.user.title
            .lights-count__box
              = image_tag "light-on.jpg", class: "lights-count__box--label", size: "24x24"
              %span.lights-count__box--count
                = meaning.sum_score
            .meaning__box-datatime
              = meaning.created_at.to_s(:default)

      - @noscore_meanings.includes(:user).each do |meaning|
        - if meaning.lights.sum(:score) == 0
          .towa__detail--meanings-box
            %p= simple_format(meaning.meaning, class: "towa__detail--meaning")
            - if meaning.referer.present?
              %span.towa__detail--referer-box
                %span.towa__detail--referer-label 参照元
                %span.towa__detail--referer= auto_link(meaning.referer, html: {target: '_blank'})
            #lights
              - if user_signed_in?
                = button_to meaning_lights_path(user_id: current_user.id, meaning_id: meaning.id, score: 1), method: :post, id: "light_button1" do
                  = image_tag "light-off1.jpg", size: "35x35", class: "light-group1"
                = button_to meaning_lights_path(user_id: current_user.id, meaning_id: meaning.id, score: 2), method: :post, id: "light_button2" do
                  = image_tag "light-off2.jpg", size: "35x35", class: "light-group2"
                = button_to meaning_lights_path(user_id: current_user.id, meaning_id: meaning.id, score: 3), method: :post, id: "light_button3" do
                  = image_tag "light-off3.jpg", size: "35x35", class: "light-group3"
              - else
                = image_tag "lights0.jpg"

            .meaning__box-footer
              .meaning__box-user
                .meaning__box-user-shumbnail
                  = image_tag "userthumbnail.png", class: "meaning__box-user-image"
                %p.meaning__box-user-name
                  = link_to meaning.user.name, user_path(meaning.user.id)
                %p.meaning__box-user-title
                  = meaning.user.title
              .lights-count__box
                = image_tag "light-on.jpg", class: "lights-count__box--label", size: "24x24"
                %span.lights-count__box--count 0
              .meaning__box-datatime
                = meaning.created_at.to_s(:default)

    - if current_user
      .towa__detail--form
        = form_for [@towatop, @meaning] do |f|
          = f.text_area :meaning, placeholder: "『#{@towatop.towa}とは』の意味を投稿する（108文字制限・必須）", class: 'form-meaning'
          = f.text_field :referer, placeholder: "参照元URL  http://towapedia.com", class: "form-referer"
          = f.submit '投稿', class: 'form-towa-submit'
