- provide(:title, "#{@towatop.towa}とは何か？ | とはペディア")
- provide(:description, "『#{@towatop.towa}とは』の意味")
.row
  .col-md-3.left-content
    - if user_signed_in?
      = render 'shared/user_info'
    - else
      .user-info
        .account_image-box
          = image_tag "noaccount.png", class: "account_image"
        %p.noaccount_name No Acount
        = link_to 'アカウントを作成する', new_user_registration_path, class: "new-registration_btn"
  .col-md-9.towa__detail
    .towa__detail--header
      %h1 #{@towatop.towa}とは
      %p 『#{@towatop.towa}とは』の意味一覧を表示しています。<br>電球マークをクリックすることで、その意味がどれほど納得できたか評価できます。<br>また、『#{@towatop.towa}とは』についての意味を、下部より新規投稿ができます。
    .towa__detail--meanings
      - @towatop.meanings.includes(:user).each do |meaning|
        .towa__detail--meanings-box
          %p= simple_format(meaning.meaning, class: "towa__detail--meaning")
          - if meaning.referer.present?
            %span.towa__detail--referer-box
              %span.towa__detail--referer-label 参照元
              %span.towa__detail--referer= auto_link(meaning.referer, html: {target: '_blank'})
          #lights
            = image_tag "light-on.jpg", size: "35x35"
            = image_tag "light-on.jpg", size: "35x35"
            = image_tag "light-off.jpg", size: "35x35"
          = form_tag("/towas/#{@towatop.id}/meaning.id/lights", method: :post, id: "lights_score")
          .meaning__box-footer
            .meaning__box-user
              .meaning__box-user-shumbnail
                = image_tag "userthumbnail.png", class: "meaning__box-user-image"
              %p.meaning__box-user-name
                = meaning.user.name
              %p.meaning__box-user-title
                = meaning.user.title
            .lights-count__box
              = image_tag "light-on.jpg", class: "lights-count__box--label", size: "24x24"
              %span.lights-count__box--count 88
    - if current_user
      .towa__detail--form
        = form_for [@towatop, @meaning] do |f|
          = f.text_area :meaning, placeholder: "『#{@towatop.towa}とは』の意味を投稿する（108文字制限・必須）", class: 'form-meaning'
          = f.text_field :referer, placeholder: "参照元URL  http://towapedia.com", class: "form-referer"
          = f.submit '投稿', class: 'form-towa-submit'
