- provide(:title, "『とは』投稿型マイクロ百科事典 | 108文字のとはペディア")
- provide(:description, "最近投稿された『とは』")
.wrapper
  .left-content
    - if user_signed_in?
      = render 'shared/user_info'
      = render 'shared/towa_form'
    - else
      .user-info
        .account_image-box
          = image_tag "noaccount.png", class: "account_image center-block"
        %p.noaccount_name No Acount
        = link_to 'アカウントを作成する', new_user_registration_path, class: "new-registration_btn"
        %p.please_login 『とは』を投稿するには、ログインが必要です。
  .main-comtent
    %h1.toppage__title 投稿型マイクロ百科事典 | 108文字のとはペディア
    %p.toppage__description 現在#{@towas.count}語の『とは』が掲載されています。<br>意味を知りたい語句を検索窓に打ち込むと、候補一覧が表示されます。
    - @meanings.each do |meaning|
      .meaning__box
        %h2= link_to "#{meaning.towa.towa + "とは"}", "/towas/#{meaning.towa.id}", class: "meaning__box-towa"
        .meaning__box-meaning-box
          = simple_format(meaning.meaning, class: "meaning__box-meaning")
        .meaning__box-footer
          .meaning__box-user
            .meaning__box-user-shumbnail
              - if meaning.user.thumbnail?
                = image_tag meaning.user.thumbnail.url(:icon), class: "meaning__box-user-image"
              - else
                = image_tag "userthumbnail.png", class: "meaning__box-user-image"
            %p.meaning__box-user-name
              = link_to meaning.user.name, user_path(meaning.user.id)
            %p.meaning__box-user-title
              = meaning.user.title
          .lights-count__box
            = image_tag "light-on.jpg", class: "lights-count__box--label", size: "20x20"
            %span.lights-count__box--count
              = meaning.lights.sum(:score)
          .meaning__box-datatime
            = meaning.created_at.to_s(:default)
    .paginate= paginate @meanings
  .right-content
    %p.sponsored-text SPONSORED LINK
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    / 300×600新商品
    %ins{class: "adsbygoogle",
        style: "display:inline-block;width:300px;height:600px",
        data:{ad:{client: "ca-pub-9627911157097400", slot: "8510263613", format: "auto"}}}
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
