- provide(:title, "『とは』投稿型マイクロ百科事典 | とはペディア")
- provide(:description, "最近投稿された『とは』")
.row
  .col-md-3.left-content
    - if user_signed_in?
      = render 'shared/user_info'
      = render 'shared/towa_form'
    - else
      .user-info
        .account_image-box
          = image_tag "noaccount.png", class: "account_image"
        %p.noaccount_name No Acount
        = link_to 'アカウントを作成する', new_user_registration_path, class: "new-registration_btn"
  .col-md-9
    %ul
      .row.o-3column
        - @meanings.each do |meaning|
          .col-md-4.col-sm-6
            %li.meaning__box.clearfix
              %h2
                = link_to "#{meaning.towa.towa + "とは"}", "/towas/#{meaning.towa.id}", class: "meaning__box-towa"
              .meaning__box-meaning-box
                = simple_format(meaning.meaning, class: "meaning__box-meaning")
              .meaning__box-user
                .meaning__box-user-shumbnail
                  = image_tag "userthumbnail.png", class: "meaning__box-user-image"
                %p.meaning__box-user-name
                  = meaning.user.name
                %p.meaning__box-user-title
                  = meaning.user.title
