.signup__wrapper
  %h3 新規アカウント作成
  .signup__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        .field
          = f.email_field :email, placeholder: "メールアドレス", class: "form-control"
      .form-group
        .field
          - if @validatable
            %em
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, placeholder: "パスワード（6文字以上）", autocomplete: "off", class: "form-control"
      .form-group
        .field
          = f.password_field :password_confirmation, placeholder: "パスワード（確認）", autocomplete: "off", class: "form-control"
      .form-group
        .field
          = f.text_field :name, placeholder: "ユーザー名（必須）", class: "form-control"
      .form-group
        .field
          = f.text_field :title, placeholder: "肩書き", class: "form-control"
      .form-group
        .field
          = f.text_area :profile, placeholder: "プロフィール", class: "form-control signup__form--textarea"
      .signup__tos
        = link_to "利用規約", "#"
        %span に同意のうえ、「新規アカウントの作成」ボタンを押してください。
      .form-group
        .text-right
          .actions
            = f.submit "新規アカウントを作成", class: "btn btn-primary"
          .signup__form--cancel
            = link_to "キャンセル", root_path
