%h4 【とは投稿】
= form_for @towa do |f|
  = f.text_field :towa, placeholder: '30文字制限', class: "form-towa"
  %em とは
  = f.fields_for :meanings do |m|
    = m.text_area :meaning, placeholder: '108文字制限', class: 'form-meaning'
    = m.hidden_field :user_id
  = f.submit '投稿', class: 'form-towa-submit'
