%h3.form-label 【とは投稿】
= form_for @towa, builder: ApplicationFormBuilder do |f|
  = f.countable_field(:towa, 20)
  = f.text_field :towa, maxlength: "20", placeholder: '20文字制限（必須）', class: "form-towa countable"
  %em とは
  .meaning
    = f.fields_for :meanings, builder: ApplicationFormBuilder do |m|
      = f.countable_field(:meanings, 108)
      = m.text_area :meaning, maxlength: "108", placeholder: '108文字制限（必須）', class: 'form-meaning countMeaning'
      = m.text_field :referer, placeholder: '参照元URL  例）http://towapedia.com', class: "form-referer"
      = m.hidden_field :user_id
  = f.submit '投稿', class: 'form-towa-submit'
