.user-info
  - if user_signed_in? && @user.id == current_user.id
    = link_to edit_user_registration_path, class: "user-config", method: :get do
      %i.fa.fa-cog 設定
  .account_image-box
    - if @user.thumbnail?
      = image_tag @user.thumbnail.url, class: "account_image center-block"
    - else
      = image_tag "useraccount.png", class: "account_image center-block"
  %p.user-name
    = @user.name
  %p.user-title
    = @user.title
  %p.user-profile
    = @user.profile
  .scores.row
    .telegram
      %i.fa.fa-telegram
      %span.telegram__score #{@user.meanings.count}
    .pipe|
    .light
      %span.light__icon= image_tag "light-on.jpg", size: "25x25"
      %span.light__score #{Light.where(meaning_id: @current_user_meanings.ids).sum(:score)}
