!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: {equiv: "Content-Type"}}
    %title とはペディア
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", data:{turbolinks:{track: true}}
    = javascript_include_tag "application", data:{turbolinks:{track: true}}
  %body
    = render 'shared/header'
    .container
      - flash.each do |key, value|
        - key = "info" if key == "notice"
        - key = "danger" if key == "alert"
        = content_tag :div, value, class: "alert alert-#{key}"
      = yield
