!!! 5
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: {equiv: "Content-Type"}}
    %title= yield(:title)
    %meta{name: 'description', itemprop: 'description', content: "#{yield(:description)}の一覧です。108文字の投稿型マイクロ百科事典の『とはペディア』にあなたの知っている言葉も投稿してみよう！"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", data:{turbolinks:{track: true}}
    = javascript_include_tag "application", data:{turbolinks:{track: true}}
    = favicon_link_tag()
    = favicon_link_tag('apple-touch-icon-180x180.png',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/png'})
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-101807864-1', 'auto');
      ga('send', 'pageview');
  %body
    = render 'shared/header'
    .container
      - flash.each do |key, value|
        - key = "info" if key == "notice"
        - key = "danger" if key == "alert"
        = content_tag :div, value, class: "alert alert-#{key}"
      = yield
    = render 'shared/footer'
